<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".RustApplication"
        android:localeConfig="@xml/locale_config"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.rust.Concept"
        android:usesCleartextTraffic="true"
        android:screenOrientation="portrait"
        tools:targetApi="tiramisu">
        <activity
            android:name=".FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".NetworkTemplatePackageDetailsActivity"
            android:exported="false"/>
        <activity
            android:name=".CustomizeEditTextActivity"
            android:exported="false"/>
<!--        模组界面-->
        <activity android:name=".fragments.WarehouseFragment" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/content_file_provider" />
        </provider>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- Activity注册 -->
        <activity
            android:name=".CreationWizardActivity"
            android:exported="false"/>
        <activity
            android:name=".TurretDesignActivity"
            android:exported="false"/>
        <activity
            android:name=".BrowserActivity"
            android:exported="false"
            android:label="@string/built_in_browser"/> <!-- 适配全面屏 -->
        <activity
            android:name=".OrderListActivity"
            android:exported="false"/>
        <activity
            android:name=".SearchResultActivity"
            android:exported="false"/>
        <activity
            android:name=".PayActivity"
            android:exported="false"/>
        <activity
            android:name=".ReviewModActivity"
            android:exported="false"/>
        <activity
            android:name=".ReportListActivity"
            android:exported="false"/>
        <activity
            android:name=".ErrorInfoActivity"
            android:exported="false"/>
        <activity
            android:name=".UserListActivity"
            android:exported="false"/>
        <activity
            android:name=".ActivateActivity"
            android:exported="false"/>
        <activity
            android:name=".ThanksActivity"
            android:exported="false"/>
        <activity
            android:name=".WorkManagementActivity"
            android:exported="false"/>
        <activity
            android:name=".FullScreenCoverActivity"
            android:exported="false"/>
        <activity
            android:name=".TagActivity"
            android:exported="false"/>
        <activity
            android:name=".ReportActivity"
            android:exported="false"/>
        <activity
            android:name=".EditUserInfoActivity"
            android:exported="false"/>
        <activity
            android:name=".UserHomePageActivity"
            android:exported="false"/>
        <activity
            android:name=".WebModInfoActivity"
            android:exported="false"/>
        <activity
            android:name=".ErrorActivity"
            android:exported="false"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImporterActivity"
            android:documentLaunchMode="intoExisting"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/file_importer"
            android:maxRecents="3">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\.rwmod" />
                <data android:pathPattern=".*\..*\.rwmod" />
                <data android:pathPattern=".*\..*\..*\.rwmod" />
                <data android:pathPattern=".*\..*\..*\..*\.rwmod" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.rwmod" />
                <data android:pathPattern=".*\..*\..*\..*\..*\..*\.rwmod" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\.rwmod" />
                <data android:pathPattern=".*\..*\.rwmod" />
                <data android:pathPattern=".*\..*\..*\.rwmod" />
                <data android:pathPattern=".*\..*\..*\..*\.rwmod" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.rwmod" />
                <data android:pathPattern=".*\..*\..*\..*\..*\..*\.rwmod" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\.rp" />
                <data android:pathPattern=".*\..*\.rp" />
                <data android:pathPattern=".*\..*\..*\.rp" />
                <data android:pathPattern=".*\..*\..*\..*\.rp" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.rp" />
                <data android:pathPattern=".*\..*\..*\..*\..*\..*\.rp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\.rp" />
                <data android:pathPattern=".*\..*\.rp" />
                <data android:pathPattern=".*\..*\..*\.rp" />
                <data android:pathPattern=".*\..*\..*\..*\.rp" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.rp" />
                <data android:pathPattern=".*\..*\..*\..*\..*\..*\.rp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/zip" />
                <data android:pathPattern=".*\.zip" />
                <data android:pathPattern=".*\..*\.zip" />
                <data android:pathPattern=".*\..*\..*\.zip" />
                <data android:pathPattern=".*\..*\..*\..*\.zip" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.zip" />
                <data android:pathPattern=".*\..*\..*\..*\..*\..*\.zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="application/zip" />
                <data android:pathPattern=".*\.zip" />
                <data android:pathPattern=".*\..*\.zip" />
                <data android:pathPattern=".*\..*\..*\.zip" />
                <data android:pathPattern=".*\..*\..*\..*\.zip" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.zip" />
                <data android:pathPattern=".*\..*\..*\..*\..*\..*\.zip" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="false"/>
        <activity
            android:name=".ValueTypeActivity"/>
        <activity
            android:name=".GlobalOperationsActivity"
            android:label="@string/global_operations"/>
        <activity
            android:name=".EditActivity"
            android:exported="true"
            android:label="@string/mod_action1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CreateModActivity"/>
        <activity
            android:name=".UnitsActivity"/>
        <activity
            android:name=".OptimizeActivity"/>
        <activity
            android:name=".FileManagerActivity"/>
        <activity
            android:name=".CreateUnitActivity"/>
        <activity
            android:name=".TemplateParserActivity"/>
        <activity
            android:name=".LibraryActivity"/>
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/setting"/>
        <activity
            android:name=".TemplateMakerActivity"/>
        <activity
            android:name=".CreateTemplateActivity"/>
        <activity
            android:name=".CodeTableActivity"
            android:exported="false"/>
        <activity
            android:name=".LoginActivity"
            android:exported="false"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"/>
        <activity
            android:name=".EditModInfoActivity"
            android:exported="false"/>
        <activity
            android:name=".ApplicationListActivity"
            android:exported="false" />
        <activity
            android:name=".GameCheckActivity"
            android:exported="false"/>
        <activity
            android:name=".RecyclingStationActivity"
            android:exported="false"/>
        <activity
            android:name=".BookmarkManagerActivity"
            android:exported="false"/>
        <activity
            android:name=".ReleaseModActivity"
            android:exported="false"/>
        <activity
            android:name=".PackActivity"
            android:exported="false"/>
    </application>

</manifest>